server:
  port: 8002

spring:
  application:
    name: api-gateway
  profiles:
    active: dev
  main:
    allow-bean-definition-overriding: true
    web-application-type: reactive
  security:
    enabled: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8001/eureka/}
    enabled: ${EUREKA_ENABLED:false}
  instance:
    prefer-ip-address: true

management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET:devSecretKeyForLocalDevelopmentOnly1234567890}
  expiration-time: ${JWT_EXPIRATION_TIME:3600000}

logging:
  level:
    com.finova.apigateway: DEBUG
    org.springframework.cloud.gateway: INFO
