---
server:
  port: 8003
spring:
  application:
    name: account-management-service
  datasource:
    url: jdbc:h2:mem:accountdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8001/eureka/}
  instance:
    prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: "always"
jwt:
  secret: ${JWT_SECRET:mySuperSecretKey1234567890}
  expiration-time: 3600000
